<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GESTIONAR USUARIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/gestionUsuario.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="icon" href="/static/images/restaurante.ico">
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
<body style="background: linear-gradient(to left, #aaff00, #11aaff);"></body>

</body>
</html>
<body>
<section>
    <nav>
        <div style="text-align:center; ">
            <H1><b>GOLD STAR CHILLI</b></H1>
        </div>
        <ul>
            <div style>
                <li><a style="font-size: 20px; margin-bottom: 12px; "><a id="boton_personalizado" href="#perfil.html"><img src="/static/images/usu.jpg" width="30" height="30"> perfil usuario</a>
                </li>
                <li><a style="font-size: 20px; margin-bottom: 12px; "><a id="boton_personalizado" href="#registro gerencial"><img src="/static/images/re.jpg" width="30" height="30"> registro
                    gerencial</a></li>


            </div>
        </ul>
    </nav>
    <principal>
        <ul class="nav nav-pills" style="margin: 2px;">
            <li class="nav-item ">
                <a class="nav-link" aria-current="page" href="#"><img src="/static/images/house.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="/static/images/star.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="/static/images/cart.svg"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="/static/images/not.jpg"></a>
            </li>
        </ul>

        <div>
                <img src="images/usu1.jpg" width="30" height="30"></h1>
        </div>
    </principal>
    <article>
        <form>
            <div style="text-align:center;" ;="font-size:1000%;">
                <h1> gestion de usuarios </h1>
                <label for="usuario"></label><br>
                <input id="usuario" type="text" onclick="" usuario="">
                <br>
                <br>
                <label for="usuario"></label><br>
                <textarea cols="30" rows="7" id="usuario"
                          placeholder="El siguiente usuario sera eliminado  estas seguro de ejecutar esta acción?"
                          name="usuario"></textarea>
                <br>
                <button id="boton_personalizado" type="button" value="SI">Si</button>
                        <button id="boton_personalizado" type="button" value="NO">No</button>
            </div>
        </form>
    </article>
</section>
</body>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>