<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOLA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/perfil.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="icon" href="/static/images/restaurante.ico">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body style="background: linear-gradient(to left, #aaff00, #11aaff);">
<br>
<br>
<br>
<h1 style="text-align: center" >BIENVENIDO A GOLD STAR CHILI</h1>
<br>
<h1 style="text-align: center">ELABORADO POR</h1>
<br>
<h1 style="text-align: center">LAURA LILIANA AGUILAR BALLEN </h1>
<br>
<h1 style="text-align: center">MISION TIC</h1>

</body>
</html>