<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PERFIL USUARIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/perfil.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="icon" href="/static/images/restaurante.ico">
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
<section>
    <nav>

        <img class="img1" src="/static/images/perfil.jpg" style="margin-left:15%; margin-bottom:10%" width="280"
             height="250">
        <ul>

            <div style>
                <li><a style="font-size: 20px; margin-bottom: 12px; "><a id="boton_personalizado"
                                                                         href="#informacion personal"><img
                        src="/static/images/persona.svg" width="30" height="30"> informacion personal</a></li>
                <li><a style="font-size: 20px; margin-bottom: 12px; "><a id="boton_personalizado"
                                                                         href="#privacidad"><img
                        src="/static/images/pri.jpg" width="30" height="30"> privacidad</a></li>
                <li><a style="font-size: 20px; margin-bottom: 12px; "><a id="boton_personalizado"
                                                                         href="gestioncomentarios"><img
                        src="/static/images/com.jpg" width="30" height="30"> gestionar comentarios</a></li>
            </div>

        </ul>
    </nav>

    <article>
        <br>
        <br>
        <h1 style="text-align:center; "><b>***NOMBRE DE USUARIO***</b></h1>
        <br>

        <form>
            <div style="text-align:center;" ;="font-size:1000%;">
                <label for="CorreoElectronico"><b>correo electronico</b></label><br>
                <input id="CorreoElectronico" type="text" onclick="" CorreoElectronico="">
                <br>
                <br>

                <label for="telefono">telefono</label><br>
                <input id="telefono" type="text" onclick="" telefono="">
                <br>
                <br>

                <label for="fecha de nacimiento">fecha de nacimiento</label><br>
                <input id="fecha de nacimiento" type="date" onclick="" fecha de nacimiento="">
                <br>
                <br>

                <label for="direccion"> direccion </label><br>
                <input id="direccion" type="text" onclick="" direccion="">
                <br>
                <br>

            </div>
        </form>
    </article>
</section>


</body>
<script src="nombredelarchivo.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>